.calculator-wrapper {
  margin: 60px 0;
  padding: 8px 20px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.3);
  max-width: 300px;
}

h2.calculator-title {
  margin-top: 20px !important;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

p.calculator-description {
  text-align: center !important;
  font-size: 14px;
}

.calculator-result {
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 20px;
  background-color: #49b266;
}
.calculator-result h3 {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
.calculator-result h3 .takeaway {
  font-size: 36px;
}

form.calculator {
  font-size: 14px;
  font-weight: 300;
  color: white;
}

form.calculator input,
form.calculator textarea,
form.calculator select,
form.calculator button {
  display: block;
  margin: 8px auto;
  padding: 0 8px;
  line-height: 38px;

  border: 1px solid white;
  border-radius: 20px;

  font-size: 14px;

  color: white;
  background-color: transparent;

  overflow: hidden;
}

form.calculator input:focus,
form.calculator textarea:focus,
form.calculator select:focus,
form.calculator button:focus {
  border: 1px solid #49b266;
}
form.calculator input.error {
  border: 1px solid red;
  background-color: #ffdedb;
  color: red;
}
form.calculator .input-error {
  color: #ffdedb;
  padding: 0.25rem;
  width: 100%;
  text-align: center;
}

form.calculator textarea {
  min-width: 50%;
}
form.calculator button {
  border: none;
  font-weight: 500;
  background-color: white;
  color: rgba(0, 0, 0, 0.55);
  text-transform: uppercase;
  transition: background-color 0.25s, color 0.25s;
}
form.calculator button:hover, form.calculator button:focus {
  cursor: pointer;
  background-color: #49b266;
  color: white;
}
form.calculator p {
  text-align: center;
  margin-bottom: 0;
}

form.calculator .calculator-row {
  display: flex;
  flex-wrap: wrap;
}

.calculator-field, .calculator-submit {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
}
.calculator-field label, .calculator-field input, .calculator-submit label, .calculator-submit input {
  display: inline-block;
}
.calculator-field label, .calculator-submit label {
  flex: 0 0 100%;
}
.calculator-field input, .calculator-submit input {
  flex: 1 1 auto;
}

.calculator-submit {
  text-align: right;
}

.input {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.prefixed-input input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: 1px solid white;
  text-align: left;
}

.suffixed-input input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 1px solid white;
  text-align: right;
}

.suffixed-input input, .prefixed-input input {
  flex: 1 1 auto;
}
.suffixed-input span.input-suffix, .suffixed-input span.input-prefix, .prefixed-input span.input-suffix, .prefixed-input span.input-prefix {
  flex: 0 0 auto;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin: 8px 0;
  padding: 0 8px;
  line-height: 38px;
}
.suffixed-input span.input-prefix, .prefixed-input span.input-prefix {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  min-width: 20px;
  text-align: center;
}
.suffixed-input span.input-suffix, .prefixed-input span.input-suffix {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: none;
  min-width: 60px;
  text-align: center;
}
