<!--- Start here !-->
{% include esi-money/styling.html %}
<form class="calculator" id="career-calculator-simple" action="#" accept-charset="UTF-8" method="post">
  <h3 class="calculator-title">Making the Most of a Career Calculator</h3>
  <div class="calculator-section">
    <h4>Base Case</h4>
    <div class="calculator-input">
      <label for="starting-salary">Starting Salary</label><br />
      <span class="input-prefix">$</span>
      <input type="number" name="starting-salary" id="starting-salary" value="40000" min="0" />
    </div>
    <div class="calculator-input">
      <label id="annual-raise-rate-label" for="annual-raise-rate">3% annual raise</label><br />
      <input value="3" class="calculator-slider" min="1" max="20" type="range" name="annual-raise-rate[]" id="annual-raise-rate" />
    </div>
    <div class="calculator-input">
      <label id="investment-gain-rate-label" for="investment-gain-rate">8% annual return on investments</label><br />
      <input value="8" class="calculator-slider" min="1" max="20" type="range" name="investment-gain-rate[]" id="investment-gain-rate" />
    </div>
    <div class="calculator-input">
      <label id="years-of-employment-label" for="years-of-employment">50 years of employment</label><br />
      <input value="50" class="calculator-slider" min="1" max="60" type="range" name="years-of-employment[]" id="years-of-employment" />
    </div>
  </div>
  <div class="calculator-section">
    <h4>Investment Assumptions</h4>
    <div class="calculator-input">
      <label id="investment-gain-rate-label" for="investment-gain-rate">8% annual return on investments</label><br />
      <input value="8" class="calculator-slider" min="1" max="20" type="range" name="investment-gain-rate[]" id="investment-gain-rate" />
    </div>
    <div class="calculator-input">
      <label id="investment-portion-label" for="investment-portion">100% of salary difference invested</label><br />
      <input value="100" class="calculator-slider" min="1" max="100" type="range" name="investment-portion[]" id="investment-portion" />
    </div>
  </div>
  <div class="calculator-section">
    <h4>Negotiated Higher Salary</h4>
    <div class="calculator-input">
      <label for="negotiated-salary">Negotiated Salary</label><br />
      <span class="input-prefix">$</span>
      <input type="number" name="negotiated-salary" id="negotiated-salary" value="45000" min="0" />
    </div>
  </div>
  <div class="calculator-section">
    <h4>Increased Annual Raise</h4>
    <div class="calculator-input">
      <label id="increased-raise-rate-label" for="increased-raise-rate">4% annual raise</label><br />
      <input value="4" class="calculator-slider" min="1" max="20" type="range" name="increased-raise-rate[]" id="increased-raise-rate" />
    </div>
  </div>
  <div class="calculator-result" id="career-calculator-simple-result">
    <p>With a starting salary of <span class="result-value" id="result-starting-salary">$40,000</span> and <span class="result-value" id="result-annual-raise-rate">3%</span> annual raises, your lifetime earnings would be <span class="result-value" id="result-lifetime-earnings">$4,511,875</span>.</p>
    <p>Negotiating a starting salary of <span class="result-value" id="result-negotiated-salary">$45,000</span> would increase those earnings to <span class="result-value" id="result-negotiated-lifetime-earnings">$5,075,859</span>. Investing the difference in earnings along the way would give you a nest egg of <span class="result-value" id="result-negotiated-nest-egg">$4,251,771</span> at retirement.</p>
    <p>Working to get higher annual raises of <span class="result-value" id="result-increased-raise-rate">4%</span> instead would increase your earnings to <span class="result-value" id="result-raise-lifetime-earnings">$6,106,683</span>. Investing the difference in earnings along the way would give you a nest egg of <span class="result-value" id="result-raise-nest-egg">$5,780,764</span> at retirement.</p>
    <p>Doing both would increase your earnings to <span class="result-value" id="result-both-lifetime-earnings">$6,870,019</span>. Investing the difference in earnings along the way would give you a nest egg of <span class="result-value" id="result-negotiated-nest-egg">$10,755,130</span> at retirement.</p>
  </div>
  <div class="calculator-section">
    <button class="calculator-button" id="calculator-details-button">Click to Show Detailed Results ↓</button>
  </div>
  <div class="calculator-result" id="career-calculator-detailed-result">
  </div>
</form>
{% include esi-money/scripts/career-calc.html %}
<!---End here !-->
