/* Fundamentals */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  @media screen and (min-width: 320px) {
    font-size: 11px;
  }
  @media screen and (min-width: 425px) {
    font-size: 12px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

footer {
  flex: 0 0 auto;
}

/* Typography */

h1, h2, h3, h4, h5, h6, p, li {
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;
}

a:hover {
  color: lighten($text-color, 20%);
}

pre {
  overflow-x: auto;
}

.center-text {
  text-align: center;
}

/* Layout */

.container {
  max-width: 50rem;
  margin: 0 auto;
}

/* Footer */

footer {
  color: $black-hint;
  background-color: white;
  text-align: center;
  //padding: 1rem 0;
}

.footer-nav {
  list-style: none;
  padding-left: 0;
}

.footer-nav__item {
  display: inline;
  margin: 0 1rem;
  a {
    color: $footer-text-color;
  }
  a:hover {
    color: darken($footer-text-color, 20%);
  }
}

.copyright {
  color: $footer-text-color;
}
