
$black-hint: rgba(0,0,0,0.85);

$background-color: white; //#fafafa;
$primary-color: #39AA75;
$thrifty-color: #558b2f;
$dev-color: #b2ebf2;
$freelance-color: $primary-color;
$text-color: $black-hint;
$footer-text-color: white;
