<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const calculator = document.querySelector('#career-calculator-simple');

    if (calculator) {
      const inputs = document.querySelectorAll('input');

      /* Basic inputs */
      const startingSalaryInput = calculator.querySelector('input#starting-salary');
      const annualRaiseRateInput = calculator.querySelector('input#annual-raise-rate');
      const annualRaiseRateLabel = calculator.querySelector('#annual-raise-rate-label');
      const investmentGainRateInput = calculator.querySelector('input#investment-gain-rate');
      const investmentGainRateLabel = calculator.querySelector('#investment-gain-rate-label');
      const yearsOfEmploymentInput = calculator.querySelector('input#years-of-employment');
      const yearsOfEmploymentLabel = calculator.querySelector('#years-of-employment-label');

      /* Negotiated salary inputs */
      const negotiatedSalaryInput = calculator.querySelector('input#negotiated-salary');

      /* Higher annual raises inputs */
      const increasedRaiseRateInput = calculator.querySelector('input#increased-raise-rate');
      const increasedRaiseRateLabel = calculator.querySelector('#increased-raise-rate-label');

      /* Output */
      const outputDiv = calculator.querySelector('#career-calculator-simple-result');

      /* Calculate and update labels and results, flag errors */
      function updateResults() {
        const startingSalary = parseFloat(startingSalaryInput.value) || 0;
        const annualRaiseRate = parseFloat(annualRaiseRateInput.value) / 100.0 || 0;
        const investmentGainRate = parseFloat(investmentGainRateInput.value) / 100.0 || 0;
        const yearsOfEmployment = parseFloat(yearsOfEmploymentInput.value) || 0;
        const negotiatedSalary = parseFloat(negotiatedSalaryInput.value) || 0;
        const increasedRaiseRate = parseFloat(increasedRaiseRateInput.value) / 100.0 || 0;

        /* Update labels */
        let annualRaiseText = (annualRaiseRate * 100).toFixed(0);
        annualRaiseText +=  '% annual raise';
        annualRaiseRateLabel.innerHTML = annualRaiseText;

        let increasedRaiseText = (increasedRaiseRate * 100).toFixed(0);
        increasedRaiseText +=  '% annual raise';
        increasedRaiseRateLabel.innerHTML = increasedRaiseText;

        let investmentGainRateText = (investmentGainRate * 100).toFixed(0);
        investmentGainRateText +=  '% annual return on investments';
        investmentGainRateLabel.innerHTML = investmentGainRateText;

        let yearsOfEmploymentText = yearsOfEmployment + ' year';
        if (yearsOfEmployment != 1) {
          yearsOfEmploymentText += 's';
        }
        yearsOfEmploymentText += ' of employment';
        yearsOfEmploymentLabel.innerHTML = yearsOfEmploymentText;

        if (outputDiv) {
          /* Validate Inputs */
          if (startingSalary <= 0.0) {
            outputDiv.innerHTML = '<span class="result-error">Set a starting salary greater than zero</span>';
            return;
          }
          if (negotiatedSalary <= startingSalary) {
            outputDiv.innerHTML = '<span class="result-error">Set a negotiated higher salary greater than the base case starting salary</span>';
            return;
          }
          if (increasedRaiseRate <= annualRaiseRate) {
            outputDiv.innerHTML = '<span class="result-error">Set an increased annual raise greater than the base case annual raise</span>';
            return;
          }

          function toCurrency(value) {
            if (value == 0) {
              return '-'
            } else {
              return '$' + value.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
          }

          function futureValue(payment, returnRate, increaseRate, years) {
            if (returnRate == increaseRate) {
              return payment * years * Math.pow(1 + returnRate, years - 1);
            } else {
              let numerator = Math.pow(1 + returnRate, years) - Math.pow(1 + increaseRate, years);
              let denomenator = (returnRate - increaseRate);
              return payment * numerator / denomenator;
            }
          }

          function lifetimeEarnings(start, raise, years) {
            return futureValue(start, 0.0, raise, years);
          }
          function yearValues(salaryStart, salaryBump, raiseStart, raiseBump, investmentRate, year) {
            const baseLE = lifetimeEarnings(salaryStart, raiseStart, year);
            const salaryBumpLE = lifetimeEarnings(salaryBump, raiseStart, year);
            const raiseBumpLE = lifetimeEarnings(salaryStart, raiseBump, year);
            const bothBumpLE = lifetimeEarnings(salaryBump, raiseBump, year);

            const salaryBumpDiff = salaryBumpLE - baseLE;
            const raiseBumpDiff = raiseBumpLE - baseLE;
            const bothBumpDiff = bothBumpLE - baseLE;

            const baseEarningsInvested = futureValue(salaryStart, investmentRate, raiseStart, year);
            const salaryBumpEarningsInvested = futureValue(salaryBump, investmentRate, raiseStart, year);
            const raiseBumpEarningsInvested = futureValue(salaryStart, investmentRate, raiseBump, year);
            const bothBumpEarningsInvested = futureValue(salaryBump, investmentRate, raiseBump, year);

            const salaryBumpNestEgg = salaryBumpEarningsInvested - baseEarningsInvested;
            const raiseBumpNestEgg = raiseBumpEarningsInvested - baseEarningsInvested;
            const bothBumpNestEgg = bothBumpEarningsInvested - baseEarningsInvested;
            const nestEgg = [0, salaryBumpNestEgg, raiseBumpNestEgg, bothBumpNestEgg];

            return { year: year,
                     base: {       label: 'Base',
                                   salary: salaryStart * Math.pow(1 + raiseStart, year - 1),
                                   lifetimeEarnings: baseLE,
                                   difference: 0,
                                   nestEgg: 0 },
                     salaryBump: { label: 'Negotiated Salary',
                                   salary: salaryBump * Math.pow(1 + raiseStart, year - 1),
                                   lifetimeEarnings: salaryBumpLE,
                                   difference: salaryBumpDiff,
                                   nestEgg: salaryBumpNestEgg },
                     raiseBump:  { label: 'Increased Raises',
                                   salary: salaryStart * Math.pow(1 + raiseBump, year - 1),
                                   lifetimeEarnings: raiseBumpLE,
                                   difference: raiseBumpDiff,
                                   nestEgg: raiseBumpNestEgg },
                     bothBump:  {  label: 'Both',
                                   salary: salaryBump * Math.pow(1 + raiseBump, year - 1),
                                   lifetimeEarnings: bothBumpLE,
                                   difference: bothBumpDiff,
                                   nestEgg: bothBumpNestEgg }
             };
          }
          function yearByYearTable(salaryStart, salaryBump, raiseStart, raiseBump, investmentRate, years) {
            table = [];
            for (let i = 0; i <= years; i += 1) {
              table[i] = yearValues(salaryStart, salaryBump, raiseStart, raiseBump, investmentRate, i + 1);
            }
            return table;
          }
          yearTable = yearByYearTable(startingSalary, negotiatedSalary, annualRaiseRate, increasedRaiseRate, investmentGainRate, yearsOfEmployment)

          endYearData = yearTable[yearsOfEmployment - 1];

          const lifetimeEarningsResult = endYearData.base.lifetimeEarnings;
          const negotiatedLifetimeEarnings = lifetimeEarnings(negotiatedSalary, annualRaiseRate, yearsOfEmployment);
          const raiseLifetimeEarnings = lifetimeEarnings(startingSalary, increasedRaiseRate, yearsOfEmployment);
          const bothLifetimeEarnings = lifetimeEarnings(negotiatedSalary, increasedRaiseRate, yearsOfEmployment);

          const negotiatedDifference = negotiatedLifetimeEarnings - lifetimeEarningsResult;
          const raiseDifference = raiseLifetimeEarnings - lifetimeEarningsResult;
          const bothDifference = bothLifetimeEarnings - lifetimeEarningsResult;

          const lifetimeEarningsInvested = futureValue(startingSalary, investmentGainRate, annualRaiseRate, yearsOfEmployment);
          const negotiatedEarningsInvested = futureValue(negotiatedSalary, investmentGainRate, annualRaiseRate, yearsOfEmployment);
          const raiseEarningsInvested = futureValue(startingSalary, investmentGainRate, increasedRaiseRate, yearsOfEmployment);
          const bothEarningsInvested = futureValue(negotiatedSalary, investmentGainRate, increasedRaiseRate, yearsOfEmployment);

          const negotiatedNestEgg = negotiatedEarningsInvested - lifetimeEarningsInvested;
          const raiseNestEgg = raiseEarningsInvested - lifetimeEarningsInvested;
          const bothNestEgg = bothEarningsInvested - lifetimeEarningsInvested;

          /* Update output */
          function summaryText(data) {
            let outputText = '';
            outputText += '<p>With a starting salary of <span class="result-value" id="result-starting-salary">';
            outputText += toCurrency(startingSalary);
            outputText += '</span> and <span class="result-value" id="result-annual-raise-rate">';
            outputText += (annualRaiseRate * 100).toFixed(0);
            outputText += '%</span> annual raises, your lifetime earnings would be <span class="result-value" id="result-lifetime-earnings">';
            outputText += toCurrency(data.base.lifetimeEarnings);
            outputText += '</span>.</p>';

            outputText += '<p>Negotiating a starting salary of <span class="result-value" id="result-negotiated-salary">';
            outputText += toCurrency(negotiatedSalary);
            outputText += '</span> would increase those earnings to <span class="result-value" id="result-negotiated-lifetime-earnings">';
            outputText += toCurrency(data.salaryBump.lifetimeEarnings);
            outputText += '</span>. Investing the difference in earnings along the way would give you a nest egg of <span class="result-value" id="result-negotiated-nest-egg">';
            outputText += toCurrency(data.salaryBump.nestEgg);
            outputText += '</span> at retirement.</p>';

            outputText += '<p>Working to get higher annual raises of <span class="result-value" id="result-increased-raise-rate">';
            outputText += (increasedRaiseRate * 100).toFixed(0);
            outputText += '%</span> instead would increase your earnings to <span class="result-value" id="result-raise-lifetime-earnings">';
            outputText += toCurrency(data.raiseBump.lifetimeEarnings);
            outputText += '</span>. Investing the difference in earnings along the way would give you a nest egg of <span class="result-value" id="result-raise-nest-egg">';
            outputText += toCurrency(data.raiseBump.nestEgg);
            outputText += '</span> at retirement.</p>';

            outputText += '<p>Doing both would increase your earnings to <span class="result-value" id="result-both-lifetime-earnings">';
            outputText += toCurrency(data.bothBump.lifetimeEarnings);
            outputText += '</span>. Investing the difference in earnings along the way would give you a nest egg of <span class="result-value" id="result-negotiated-nest-egg">';
            outputText += toCurrency(data.bothBump.nestEgg);
            outputText += '</span> at retirement.</p>';

            return outputText
          }

          function littleTable(data) {
            function summaryTableRow(scenario) {
              tableRow = '<tr>';
              tableRow += '<td>' + scenario.label + '</td>';
              tableRow += '<td class="currency-column">' + toCurrency(scenario.lifetimeEarnings) + '</td>';
              tableRow += '<td class="currency-column">' + toCurrency(scenario.difference) + '</td>';
              tableRow += '<td class="currency-column">' + toCurrency(scenario.nestEgg) + '</td>';
              tableRow += '</tr>';
              return tableRow;
            }

            let outputTable = '';
            outputTable += '<div class="calculator-result-table"><table>'
            outputTable += '<tr><th>Scenario</th><th>Lifetime Earnings</th><th>Difference</th><th>Difference If Invested</th></tr>';
            outputTable += summaryTableRow(data.base);
            outputTable += summaryTableRow(data.salaryBump);
            outputTable += summaryTableRow(data.raiseBump);
            outputTable += summaryTableRow(data.bothBump);
            outputTable += '</table></div>';
            return outputTable;
          }

          function bigTable(table) {
            function yearRow(row) {
              let html = '<tr>';
              html += '<td>' + row.year + '</td>';
              html += '<td></td>';
              html += '<td class="currency-column">' + toCurrency(row.base.salary) + '</td>';
              html += '<td class="currency-column">' + toCurrency(row.salaryBump.salary) + '</td>';
              html += '<td class="currency-column">' + toCurrency(row.raiseBump.salary) + '</td>';
              html += '<td class="currency-column">' + toCurrency(row.bothBump.salary) + '</td>';
              html += '<td></td>';
              html += '<td class="currency-column">' + toCurrency(row.salaryBump.difference) + '</td>';
              html += '<td class="currency-column">' + toCurrency(row.raiseBump.difference) + '</td>';
              html += '<td class="currency-column">' + toCurrency(row.bothBump.difference) + '</td>';
              html += '<td></td>';
              html += '<td class="currency-column">' + toCurrency(row.salaryBump.nestEgg) + '</td>';
              html += '<td class="currency-column">' + toCurrency(row.raiseBump.nestEgg) + '</td>';
              html += '<td class="currency-column">' + toCurrency(row.bothBump.nestEgg) + '</td>';
              html += '</tr>';
              return html;
            }

            let output = '<h5>Year-by-Year Numbers</h5>';
            output += '<div class="calculator-result-table"><table>';
            output += '<tr>';
            output += '<th rowspan="2">Year</th>';
            output += '<th rowspan="2"></th>';
            output += '<th colspan="4">Salary</th>';
            output += '<th rowspan="2"></th>';
            output += '<th colspan="3">Difference from Base</th>';
            output += '<th rowspan="2"></th>';
            output += '<th colspan="3">Difference if Invested</th>';
            output += '</tr>'
            output += '<tr>';
            output += '<th>Base Salary</th>';
            output += '<th>Higher Start</th>';
            output += '<th>Higher Raise</th>';
            output += '<th>Both</th>';
            output += '<th>Higher Start</th>';
            output += '<th>Higher Raise</th>';
            output += '<th>Both</th>';
            output += '<th>Higher Start</th>';
            output += '<th>Higher Raise</th>';
            output += '<th>Both</th>';
            output += '</tr>'
            for (let i = 0; i < table.length - 1; i += 1) {
              output += yearRow(table[i]);
            }
            output += '</table></div>';
            return output;
          }

          let out = '<h4>Results</h4>';

          {% if include.table %}
            out += littleTable(endYearData);
          {% endif %}
          {% if include.text %}
            out += summaryText(endYearData);
          {% endif %}
          {% if include.big_table %}
            out += bigTable(yearTable);
          {% endif %}
          outputDiv.innerHTML = out;
        }
      }

      /* Set calculator to auto-update on input changes */
      for (let i = 0; i < inputs.length; i += 1) {
        inputs[i].addEventListener('input', () => {
          updateResults();
        });
      }
      document.addEventListener("DOMContentLoaded", () => {
          google.charts.load("current", {
              packages: ["corechart"]
          });
          google.charts.setOnLoadCallback(chartReady);
          refreshValues();
      });

      /* Update on load */
      updateResults();
    }
  });
</script>
