<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    function toCurrency(value) {
      if (value == 0) {
        return '-';
      } else {
        return '$' + value.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }
    }

    function parseCurrencyToFloat(value) {
      result = parseFloat(value.replace(/[($)\s\._\-]+/g, '').replace(/,/g, ''));
      if (isNaN(result)) {
        return 0;
      } else {
        return result;
      }
    }

    function convertToCurrency(value) {
      return value.toLocaleString()
    }

    let chartInitialized = false;
    let showDetails = false;
    const calculator = document.querySelector('.calculator#esi-scale-calculator');

    if (calculator) {
      const inputs = calculator.querySelectorAll('input');
      const currencyInputs = calculator.querySelectorAll('input.currency');

      /* Earn inputs */
      const startingSalaryInput = calculator.querySelector('input#current-salary');
      const annualRaiseRateInput = calculator.querySelector('input#annual-raise-rate');
      const annualRaiseRateLabel = calculator.querySelector('#annual-raise-rate-label');
      const sideHustleYear1Input = calculator.querySelector('input#side-hustle-year-1');
      const sideHustleYear2Input = calculator.querySelector('input#side-hustle-year-2');
      const sideHustleYear3Input = calculator.querySelector('input#side-hustle-year-3');
      const sideHustleYear4Input = calculator.querySelector('input#side-hustle-year-4');
      const sideHustleYear5Input = calculator.querySelector('input#side-hustle-year-5');
      const otherIncomeInput = calculator.querySelector('input#other-income');
      /* Save Inputs */
      const savingsRateInput = calculator.querySelector('input#savings-rate');
      const savingsRateLabel = calculator.querySelector('#savings-rate-label');

      /* Invest Inputs */
      const startingBalanceInput = calculator.querySelector('input#current-balance');
      const investmentGrowthRateInput = calculator.querySelector('input#growth-rate');
      const investmentGrowthRateLabel = calculator.querySelector('#growth-rate-label');

      /* FI Inputs */
      const startingSpendingInput = calculator.querySelector('input#annual-spending');
      const inflationRateInput = calculator.querySelector('input#inflation-rate');
      const inflationRateLabel = calculator.querySelector('#inflation-rate-label');
      const withdrawalRateInput = calculator.querySelector('input#withdrawal-rate');
      const withdrawalRateLabel = calculator.querySelector('#withdrawal-rate-label');

      /* Output */
      const outputDiv = calculator.querySelector('.calculator-result#simple-result');
      const detailedOutputDiv = calculator.querySelector('.calculator-result#detailed-result');

      /* Calculate and update labels and results, flag errors */
      function updateResults() {
        const startingSalary = parseCurrencyToFloat(startingSalaryInput.value) || 0;
        const sideHustleYear1 = parseCurrencyToFloat(sideHustleYear1Input.value) || 0;
        const sideHustleYear2 = parseCurrencyToFloat(sideHustleYear2Input.value) || 0;
        const sideHustleYear3 = parseCurrencyToFloat(sideHustleYear3Input.value) || 0;
        const sideHustleYear4 = parseCurrencyToFloat(sideHustleYear4Input.value) || 0;
        const sideHustleYear5 = parseCurrencyToFloat(sideHustleYear5Input.value) || 0;
        const otherIncome = parseCurrencyToFloat(otherIncomeInput.value) || 0;
        const startingBalance = parseCurrencyToFloat(startingBalanceInput.value) || 0;
        const startingSpending = parseCurrencyToFloat(startingSpendingInput.value) || 0;

        const annualRaiseRate = parseFloat(annualRaiseRateInput.value) / 100.0 || 0;
        const savingsRate = parseFloat(savingsRateInput.value) / 100.0 || 0;
        const investmentGrowthRate = parseFloat(investmentGrowthRateInput.value) / 100.0 || 0;
        const inflationRate = parseFloat(inflationRateInput.value) / 100.0 || 0;
        const withdrawalRate = parseFloat(withdrawalRateInput.value) / 100.0 || 0;

        /* Update labels */
        let annualRaiseText = (annualRaiseRate * 100).toFixed(2);
        annualRaiseText +=  '% annual raise';
        annualRaiseRateLabel.innerHTML = annualRaiseText;

        let savingsRateText = 'Saving ';
        savingsRateText += (savingsRate * 100).toFixed(0);
        savingsRateText += '% of total income (';
        savingsRateText += toCurrency(savingsRate * (startingSalary + sideHustleYear1 + otherIncome));
        savingsRateText += ' this year)';
        savingsRateLabel.innerHTML = savingsRateText;

        let investmentGrowthRateText = (investmentGrowthRate * 100).toFixed(2);
        investmentGrowthRateText +=  '% annual return on investments';
        investmentGrowthRateLabel.innerHTML = investmentGrowthRateText;

        let inflationRateText = (inflationRate * 100).toFixed(2);
        inflationRateText +=  '% annual spending inflation rate';
        inflationRateLabel.innerHTML = inflationRateText;

        let withdrawalRateText = (withdrawalRate * 100).toFixed(2);
        withdrawalRateText +=  '% assumed annual withdrawal rate or earnings on assets';
        withdrawalRateLabel.innerHTML = withdrawalRateText;

        if (outputDiv) {
          /* Validate Inputs */
          if (startingSalary <= 0.0) {
            outputDiv.innerHTML = '<span class="result-error">Set a starting salary greater than zero</span>';
            detailedOutputDiv.innerHTML = '';
            return;
          }
          if (otherIncome < 0.0) {
            outputDiv.innerHTML = '<span class="result-error">Set other income to something zero or greater</span>';
            detailedOutputDiv.innerHTML = '';
            return;
          }
          if (startingBalance < 0.0) {
            outputDiv.innerHTML = '<span class="result-error">Set a current investment balance of at least zero</span>';
            detailedOutputDiv.innerHTML = '';
            return;
          }
          if (startingSpending <= 0.0) {
            outputDiv.innerHTML = '<span class="result-error">Set an expected annual spending in FI greater than $0</span>';
            detailedOutputDiv.innerHTML = '';
            return;
          }
          if (startingSpending <= (startingBalance * withdrawalRate)) {
            outputDiv.innerHTML = "<h4>You're already financially independent!</h4>";
            detailedOutputDiv.innerHTML = '';
            return;
          }

          function sideHustleIncome(year, inflation) {
            if (year == 0) {
              return sideHustleYear1;
            } else if (year == 1) {
              return sideHustleYear2;
            } else if (year == 2) {
              return sideHustleYear3;
            } else if (year == 3) {
              return sideHustleYear4;
            } else if (year == 4) {
              return sideHustleYear5;
            } else {
              return sideHustleYear5 * Math.pow(1 + inflation, year - 4);
            }
          }

          let currentBalance = startingBalance;
          let fiYear = -1;
          yearData = [];

          /* Compute Years to FI */
          for (let i = 0; i <= 100; i += 1) {
            const spending = startingSpending * Math.pow(1 + inflationRate, i);
            const sideHustle = sideHustleIncome(i, inflationRate);
            const other = otherIncome * Math.pow(1 + inflationRate, i);
            const balNeeded = (spending - sideHustle - other) / withdrawalRate;
            const year = i;
            const salary = startingSalary * Math.pow(1 + annualRaiseRate, i);

            const totalIncome = salary + sideHustle + other;
            const savings = totalIncome * savingsRate;
            const interest = currentBalance * investmentGrowthRate;
            const endBalance = currentBalance + savings + interest;

            yearData[i] = { year: i,
                            balance: currentBalance,
                            needed: balNeeded
                          };

            if (fiYear == -1 && currentBalance >= balNeeded) {
              fiYear = i;
            }

            /* Set up for next year */
            currentBalance = endBalance;
          }

          let out = '';
          if (fiYear == 0) {
            out += "<h4>You're already financially independent!</h4>";
          } else {
            out += "<h4>You're on-track to reach financial independence in:</h4>";
            out += '<div class="calculator-highlighted-result">';
            if (fiYear !== -1) {
              out += fiYear + ' year';
              if (fiYear !== 1) {
                out += 's';
              }
            } else {
              out += 'More than 100 years';
            }
            out += "</div>";
          }
          outputDiv.innerHTML = out;

          function bigTable(table) {
            function tableRow(row) {
              let html = '<tr>';
              html += '<td>' + row.year + '</td>';
              html += '<td class="currency-column">' + toCurrency(row.needed) + '</td>';
              html += '<td class="currency-column">' + toCurrency(row.balance) + '</td>';
              html += '</tr>';
              return html;
            }

            let balanceOutput = '<h5>Account Balance vs Target</h5>';
            balanceOutput += '<div id="balance-chart"></div>';
            balanceOutput += '<div class="calculator-result-table"><table>';
            balanceOutput += '<tr>';
            balanceOutput += '<th>Year</th>';
            balanceOutput += '<th class="needed-color">Balance Needed for FI</th>';
            balanceOutput += '<th class="actual-color">Actual Balance</th>';
            balanceOutput += '</tr>';

            outputRows = (fiYear !== -1) ? fiYear + 1 : 101;

            for (let i = 0; i < outputRows; i += 1) {
              dataRow = table[i];
              balanceOutput += tableRow(dataRow);
            }

            balanceOutput += '</table></div>';

            const preface = '<p>See the chart and table below for detailed year-by-year results</p>';
            return preface + balanceOutput;
          }

          if (showDetails && fiYear > 0) {
            detailedOutputDiv.innerHTML = bigTable(yearData);
            drawCharts(yearData, outputRows);
          } else {
            detailedOutputDiv.innerHTML = '';
          }
        }
      }

      /* Set calculator to auto-update on input changes */
      for (let i = 0; i < inputs.length; i += 1) {
        inputs[i].addEventListener('input', () => {
          updateResults();
        });
      }

      /* Auto-format with commas */
      for (let i = 0; i < currencyInputs.length; i += 1) {
        currencyInputs[i].addEventListener('input', () => {
          currencyInputs[i].value = convertToCurrency(parseCurrencyToFloat(currencyInputs[i].value));
        });
      }

      const detailButton = document.querySelector('#calculator-details-button');
      detailButton.addEventListener('click', (event) => {
        event.preventDefault();
        if (showDetails) {
          showDetails = false;
          detailButton.innerHTML = 'Click to Show Detailed Results ↓';
          updateResults();
        } else {
          showDetails = true;
          detailButton.innerHTML = 'Click to Hide Detailed Results ↑';
          updateResults();
        }
      });

      function chartReady() {
          chartInitialized = true;
          updateResults();
      }
      function drawCharts(data, rows) {
        if (chartInitialized) {
          let balanceTable = new google.visualization.DataTable();
          balanceTable.addColumn('number', 'Year');
          balanceTable.addColumn('number', 'Needed for FI');
          balanceTable.addColumn('number', 'Actual');

          for (let i = 0; i < rows; i += 1) {
            dataRow = data[i];
            balanceTable.addRows([[{ v: dataRow.year,
                                    f: 'Year ' + dataRow.year },
                                  { v: Math.round(dataRow.needed / 1000),
                                    f: toCurrency(Math.round(dataRow.needed / 1000)) + 'k' },
                                  { v: Math.round(dataRow.balance / 1000),
                                    f: toCurrency(Math.round(dataRow.balance / 1000)) + 'k' },
                              ]]);
          }

          let baseOptions = {
            animation: {
              duration: 100,
              startup: true,
              easing: 'inAndOut'
            },
            colors:[ '#ac0000', '#0000B3' ],
            chartArea: {left: '20%', top: '10%', width: '70%', height: '70%'},
            hAxis: {
              maxValue: rows,
              minValue: 1,
              textStyle: {
                fontName: 'Fjalla One',
                fontSize: 11
              }
            },
            height: 300,
            legend: {
              position: 'bottom',
              textStyle: {
                fontName: 'Fjalla One',
                fontSize: 11
              }
            },
            titleTextStyle: {
              fontName: 'Fjalla One',
              fontSize: 20
            },
            vAxis: {
              format: '$#,###k',
              textStyle: {
                fontName: 'Fjalla One',
                fontSize: 11
              }
            }
          };
          balanceChartElement = new google.visualization.LineChart(document.getElementById('balance-chart'));
          balanceChartElement.draw(balanceTable, baseOptions);
        }
      }
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(chartReady);

      /* Update on load */
      updateResults();
    }
  });
</script>
