:root {
  --thrifty-calculator-primary-color: #2e7d32;
  --thrifty-calculator-primary-accent-color: #C7FFCB;
  --thrifty-calculator-secondary-color: #333;
  --thrifty-calculator-background-color: white;
  --thrifty-calculator-error-color: #b71c1c;
  --thrifty-calculator-font: 'Open Sans', sans-serif;
}
.thrifty-calculators-calculator {
  font-size: 16px;
  font-family: var(--thrifty-calculator-font);
  background-color: var(--thrifty-calculator-background-color);
  margin: 2em auto;
  padding: 2em 2em 0;
  border-radius: 1em;
  border: 2px solid var(--thrifty-calculator-primary-color);
  max-width: 600px;
  clear: both;
}
.thrifty-calculators-calculator .calculator-group {
  padding: 0;
}
.thrifty-calculators-calculator div.calculator-title {
  font-size: 1.75em;
  margin: 0 0 1em;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--thrifty-calculator-primary-color);
  border-radius: 0.25em;
  color: white;
  padding: 0.25em;
}
.thrifty-calculators-calculator div.calculator-group-title {
  background-color: var(--thrifty-calculator-primary-color);
  margin: 1em 0em;
  padding: 0.5em;
  border-radius: 0.25em;
  color: white;
  text-align: center;
}
.thrifty-calculators-calculator hr {
  margin: 2em 0;
}

.thrifty-calculators-calculator .calculator-field {
  display: flex;
  flex-wrap: wrap;
  margin: 0.25em 0 0;
  justify-content: space-between;
}
.thrifty-calculators-calculator .calculator-field label {
  flex: 0 0 100%;
  padding: 0.25em 0;
  line-height: 2.5;
  color: var(--thrifty-calculator-secondary-color);
  position: relative;
}
.thrifty-calculators-calculator .calculator-field .calculator-value,
.thrifty-calculators-calculator .calculator-field .calculator-button-set {
  flex: 0 0 100%;
  padding: 0.25em 0;
  line-height: 2.5;
  color: var(--thrifty-calculator-secondary-color);
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .thrifty-calculators-calculator .calculator-field label {
    flex-basis: auto;
  }
  .thrifty-calculators-calculator .calculator-field .calculator-value,
  .thrifty-calculators-calculator .calculator-field .calculator-button-set {
    flex-grow: 1;
    flex-basis: auto;
    max-width: 50%;
  }
  .thrifty-calculators-calculator .calculator-field .calculator-value input {

  }
}
.thrifty-calculators-calculator .calculator-field .calculator-value .input-prefix,
.thrifty-calculators-calculator .calculator-field .calculator-value .input-suffix {
  flex: 0 0 auto;
  margin: 0.5em 0.75em;
  line-height: 2em;
  text-align: right;
}
.thrifty-calculators-calculator .calculator-field .calculator-value .input-prefix {
  margin-right: 0.25em;
}
.thrifty-calculators-calculator .calculator-field .calculator-value .input-suffix {
  margin-left: 0.25em;
}

.thrifty-calculators-calculator .calculator-field .calculator-value input {
  flex: 1 0 auto;
  font-size: 1em;
  padding: 0 0.5em;
  margin: 0 0.25em;
  color: black;
  background-color: var(--thrifty-calculator-background-color);
  border: 0.1em solid var(--thrifty-calculator-secondary-color);
  border-radius: 0.5em;
  transition: background-color 150ms, border-color 150ms;
  width: auto;
  max-width: 75%;
}
.thrifty-calculators-calculator .calculator-field input.right-align {
  text-align: right;
}
.thrifty-calculators-calculator .calculator-field input:focus,
.thrifty-calculators-calculator .calculator-field input:hover {
  outline: none;
  background-color: var(--thrifty-calculator-primary-accent-color);
  border: 0.1em solid var(--thrifty-calculator-primary-color);
}
.thrifty-calculators-calculator .calculator-field input:read-only {
  border-color: transparent;
  font-weight: bold;
}
input[type=number]:read-only::-webkit-inner-spin-button,
input[type=number]:read-only::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number]:read-only {
  -moz-appearance: textfield;
}

.thrifty-calculators-calculator .calculator-field .calculator-value select {
  flex: 1 1 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  padding: 0.5em 2em 0.5em 0.5em;
  margin: 0 0.25em;
  color: black;
  border: 0.1em solid var(--thrifty-calculator-secondary-color);
  border-radius: 0.5em;
  background-color: var(--thrifty-calculator-background-color);
  transition: background-color 150ms, border-color 150ms;
  /* Arrow */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
  cursor: pointer;
  width: auto;
  max-width: 75%;
}
.thrifty-calculators-calculator .calculator-field .calculator-value select:focus,
.thrifty-calculators-calculator .calculator-field .calculator-value select:hover {
  outline: none;
  background-color: var(--thrifty-calculator-primary-accent-color);
  border: 0.1em solid var(--thrifty-calculator-primary-color);
}
.thrifty-calculators-calculator .calculator-field[data-error]:after {
  flex: 0 0 100%;
  content: attr(data-error);
  color: var(--thrifty-calculator-error-color);
  text-align: right;
  margin-bottom: 1em;
}
.thrifty-calculators-calculator .calculator-field[data-error] input,
.thrifty-calculators-calculator .calculator-field[data-error] input:focus,
.thrifty-calculators-calculator .calculator-field[data-error] input:hover,
.thrifty-calculators-calculator .calculator-field[data-error] select,
.thrifty-calculators-calculator .calculator-field[data-error] select:focus,
.thrifty-calculators-calculator .calculator-field[data-error] select:hover {
   border-color: var(--thrifty-calculator-error-color);
}
.thrifty-calculators-calculator .calculator-value input.slider {
  margin-top: 1em;
  width: 100%;
  max-width: 100%;
}
.thrifty-calculators-calculator .calculator-value .slider {
  -webkit-appearance: none;
  appearance: none;
  height: 0.5em;
  border-radius: 0.5em;
  border-color: var(--thrifty-calculator-secondary-color);
  color: var(--thrifty-calculator-background-color);
  background: var(--thrifty-calculator-primary-accent-color);
  outline: none;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  padding: 0 !important;
  cursor: pointer;
}
.thrifty-calculators-calculator .calculator-value .slider::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid var(--thrifty-calculator-primary-color);
  border-radius: 0.5em;
  background: var(--thrifty-calculator-primary-color);
  cursor: pointer;
  transition: background-color 250ms, border-color: 250ms;
}
.thrifty-calculators-calculator .calculator-value .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid var(--thrifty-calculator-primary-color);
  border-radius: 0.5em;
  background: var(--thrifty-calculator-primary-color);
  cursor: pointer;
  transition: background-color 250ms, border-color: 250ms;
}
.thrifty-calculators-calculator .calculator-value .slider:focus::-moz-range-thumb,
.thrifty-calculators-calculator .calculator-value .slider:hover::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid var(--thrifty-calculator-secondary-color);
  border-radius: 0.5em;
  background: var(--thrifty-calculator-primary-color);
  cursor: pointer;
}
.thrifty-calculators-calculator .calculator-value .slider:focus::-webkit-slider-thumb,
.thrifty-calculators-calculator .calculator-value .slider:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid var(--thrifty-calculator-secondary-color);
  border-radius: 0.5em;
  background: var(--thrifty-calculator-primary-color);
  cursor: pointer;
}

.thrifty-calculators-calculator .calculator-field .calculator-button-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thrifty-calculators-calculator .calculator-field .calculator-button-set button {
  font-size: 0.75em;
  flex: 1 0 auto;
  background-color: white;
  margin: 0.25rem;
  color: black;
  border: 0.1em solid var(--thrifty-calculator-secondary-color);
  border-radius: 0.2rem;
  width: auto;
  padding: 0.25rem;
  box-shadow: none;
}

.thrifty-calculators-calculator .calculator-field .calculator-button-set button:hover,
.thrifty-calculators-calculator .calculator-field .calculator-button-set button:focus {
  outline: none;
  background-color: var(--thrifty-calculator-primary-color);
  border-color: var(--thrifty-calculator-primary-accent-color);
  color: white;
}

.thrifty-calculators-calculator .calculator-field .calculator-button-set button:active {
  background-color: var(--thrifty-calculator-primary-accent-color);
  border-color: var(--thrifty-calculator-primary-color);
  color: black;
}

.thrifty-calculators-calculator .calculator-result {
  margin: 2em 0;
  overflow-x: auto;
}
.thrifty-calculators-calculator .calculator-highlighted-result {
  display: block;
  text-align: center;
  border: 0.1em solid var(--thrifty-calculator-primary-color);
  border-radius: 0.5em;
  padding: 1em;
  background-color: var(--thrifty-calculator-primary-accent-color);
}
.thrifty-calculators-calculator .calculator-result .result-value {
  font-weight: bold;
}
.thrifty-calculators-calculator .calculator-result .result-error {
  display: block;
  text-align: center;
  border: 0.1em solid var(--thrifty-calculator-error-color);
  border-radius: 0.5em;
  padding: 1em;
  color: var(--thrifty-calculator-error-color);
}
.thrifty-calculators-calculator h3, .thrifty-calculators-calculator h4, .thrifty-calculators-calculator h5, .thrifty-calculators-calculator h6 {
  text-transform: uppercase;
}
.thrifty-calculators-calculator h3 {
  font-size: 1.75em;
}
.thrifty-calculators-calculator h4 {
  font-size: 1.5em;
}
.thrifty-calculators-calculator h5 {
  font-size: 1.25em;
}
.thrifty-calculators-calculator h6 {
  font-size: 1.125em;
}
.thrifty-calculators-calculator input, .thrifty-calculators-calculator p, .thrifty-calculators-calculator li {
  font-size: 1.0em;
}
